<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :name %>
          <%= f.input :level, collection: level_collection %>
          <%= f.input :max_depth, collection: (0..40) %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
<!-- Level 1 : Beginner
Level 2 : Advanced
Level 3 : Rescue diver
Level 4 : Dive guide (can be teacher)
Level 5 : Dive instructor (can be teacher) -->
