<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bookingModal">Confirm your dive</h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for [current_user, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :quantity, collection: (1..@dive.capacity) %>
            <div class="date">
              <%= f.input_field :date, as: :string, :"data-dates-disabled" => @unavailability, :"data-provide" => 'datepicker', class: 'form-control' %>
            </div>
            <%= f.hidden_field :dive_id, value: @dive.id  %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Confirm your book" %>
          </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
