<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#"><%= cl_image_tag @user.photo.path, class: 'avatar' %></a>
  <ul class="nav navbar-nav">
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Bio</a></li>
      <li><a href="#">Coordonate</a></li>
      <li><a href="#">Level</a></li>
      <li><a href="#">Max depth</a></li>
     </ul>
   </li>
   <li><%= link_to "Booking", user_bookings_path(current_user) %>></li>
   <li><%= link_to "Dives", dive_path(current_user) %></li>
  </ul>
</div>
<div class="container">
 <div class="row">
   <h1>Your profile</h1>
   <h2>Bio</h2>
   <p><%= @user.bio %></p>
   <h2>Coordonate</h2>
   <p><%= @user.email %></p>
   <h2>Level</h2>
   <p><%= @user.level %></p>
   <h2>Max depth</h2>
   <p><%= @user.max_depth %></p>
 </div>
</div>
