<div class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><%= link_to "Profil", user_path(current_user) %>></li>
    <li><%= link_to "Booking", user_bookings_path(current_user) %>></li>
    <li><%= link_to "Dives", guide_dives_path %></li>
  </ul>
</div>

<div class="content">
  <ul class="profil-container list-unstyled">
    <li>
      <%= cl_image_tag @user.photo.path, class: 'profil-avatar' %></a>
    </li>
    <li><h3>Your profile </h3></li><br>
    <li>
      <h4>Biography: </h4>
      <p><%= @user.bio %></p><br>
    </li>
    <li>
      <h4>E-mail: </h4>
      <p><%= @user.email %></p><br>
    </li>
    <li>
      <h4>Your level: </h4>
      <p><%= @user.level %></p><br>
    </li>
    <li>
      <h4>Maximum depth: </h4>
      <p><%= @user.max_depth %></p><br>
    </li>
  </ul>
</div>

