<div class="container">
  <%= render 'shared/navbar-left' %>

  <h1 class="text-center">My list of Dives</h1>

  <div class="card-list-dives">
  <% @dives.each do |dive| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path dive.photos.first.path %>;">
      <div class="card-category"><%= dive.location %></div>
    <div class="card-description">
      <h2><%= dive.capacity %> <i class="fa fa-user" aria-hidden="true"></i></h2>
      <p>Depth required: <%= dive.depth_required %> meters</p>
      <p><%= dive.price %> €</p>
      <div class="card-user avatar">
        <%= cl_image_tag dive.user.photo.path %>
      </div>
      <ul class="list-inline">
        <li><%= link_to "Edit details", edit_guide_dive_path(dive) %></li>
        <li><%= link_to "See details", dive_path(dive) %></li>
      </ul>
    </div>
   </div>
  <% end %>
  </div>
  <%= link_to "Add a Dive", new_guide_dive_path, { class: "btn btn-primary"} %>
</div>

